@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap'); */

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 100% !important;
    min-height: 100%;
    overflow: overlay;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    @apply relative;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 6px !important;
    background-color: transparent !important;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: none !important;
    background-color: transparent !important;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.link {
    box-shadow: 0 10px 0 0 rgb(85 172 238 / 0%), inset 0 -0.125em rgb(85 172 238 / 20%);
    padding: 0 2px 2px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: box-shadow, color;
    transition-property: box-shadow, color;
}

.link:hover {
    box-shadow: 0 1px 0 2px rgba(96, 165, 250, .1), inset 0 -1.375em 0 rgba(96, 165, 250, .1);
    border-radius: 2px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: box-shadow, color;
    transition-property: box-shadow, color;
}